.vscode/
.benchmarks/
.pytest_cache/
__pycache__/
.tox/
dist/
.mypy_cache/
.ipynb_checkpoints/
docs/_build/
docs/_static/
docs/_templates/
docs/html/
.coverage
tests/test_results.xml
mlgw_bns.svg
.mutmut-cache
*.h5
*.pkl
mlgw_bns/model.py
prof.html
.gitignore
try_model_validation.py
!mlgw_bns/data/best_trials.pkl
mlgw_bns/data_management.py
*.pdf
